openapi: 3.2.0
info:
  title: Happyrobot Public Use Cases API
  description: Public API endpoints for Happyrobot
  version: 0.1.1
servers:
- url: https://platform.happyrobot.ai/api/v2
security:
- bearerAuth: []
tags:
- name: Use Cases
paths:
  /use-cases/:
    get:
      summary: '[Legacy] List use cases'
      tags:
      - Use Cases
      description: 'Returns use cases for the authenticated org along with the live production version if available (or the most recent version as fallback). **Deprecated**: prefer GET /workflows instead.'
      parameters:
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        in: query
        name: is_deleted
        required: false
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        in: query
        name: is_live
        required: false
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        in: query
        name: is_published
        required: false
      deprecated: true
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    org_id:
                      type: string
                    name:
                      type: string
                    slug:
                      type: string
                    icon:
                      type:
                      - string
                      - 'null'
                    folder_id:
                      type:
                      - string
                      - 'null'
                    data_retention_days:
                      type:
                      - number
                      - 'null'
                    timestamp:
                      type: string
                    latest_version:
                      type:
                      - object
                      - 'null'
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        version_number:
                          type:
                          - number
                          - 'null'
                        is_published:
                          type: boolean
                        is_live:
                          type: boolean
                        environment:
                          type: string
                        published_at:
                          type:
                          - string
                          - 'null'
                        timestamp:
                          type: string
                      required:
                      - id
                      - name
                      - is_published
                      - is_live
                      - timestamp
                      additionalProperties: false
                  required:
                  - id
                  - org_id
                  - name
                  - slug
                  - timestamp
                  - latest_version
                  additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  statusCode:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  details: {}
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  statusCode:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  details: {}
                required:
                - error
                additionalProperties: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Opaque
