openapi: 3.2.0
info:
  title: Happyrobot Public API Keys API
  description: Public API endpoints for Happyrobot
  version: 0.1.1
servers:
- url: https://platform.happyrobot.ai/api/v2
security:
- bearerAuth: []
tags:
- name: API Keys
paths:
  /api-key/describe:
    get:
      summary: Describe the current API key
      tags:
      - API Keys
      description: Returns metadata for the API key used in the Authorization header.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  orgId:
                    type: string
                  org_slug:
                    type: string
                  org_name:
                    type: string
                  name:
                    type: string
                  prefix:
                    type: string
                  lastFour:
                    type: string
                    minLength: 4
                    maxLength: 4
                  createdAt:
                    type: string
                  lastUsedAt:
                    type:
                    - string
                    - 'null'
                  revokedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - orgId
                - org_slug
                - org_name
                - name
                - prefix
                - lastFour
                - createdAt
                - lastUsedAt
                - revokedAt
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  statusCode:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  details: {}
                required:
                - error
                additionalProperties: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Opaque
